<script setup lang="ts">
import { ref } from "vue";
import type { VForm } from "vuetify/components";
import { useLoginStore } from "@/stores/login";

const loginStore = useLoginStore();

// replace by Pinia
// const emit = defineEmits<{ (e: "login", userName: string): void }>();

const loginName = ref("");
const loginPassword = ref("");
const valid = ref(true);
const form = ref<InstanceType<typeof VForm> | null>(null);

const login = async () => {
  const { valid } = await form.value!.validate();
  // emit("login", loginName.value);
  loginStore.login(loginName.value);
};
function clear(): void {
  form.value?.reset();
}
</script>

<template>
  <v-app style="background-color: cornsilk">
    <v-main class="pa-16">
      <v-card class="mx-auto" width="400px">
        <v-card-title primary-title class="text-center"> Login</v-card-title>
        <v-card-text>
          <v-form ref="form" v-model="valid">
            <v-text-field
              label="Username"
              v-model="loginName"
              :rules="[
                (v) => !!v || 'Username is required',
                (v) => (v && v.length >= 4) || 'Username must be 4 characters',
              ]"
              required
            ></v-text-field>
            <v-text-field
              label="Password"
              type="password"
              v-model="loginPassword"
              :rules="[
                (v) => !!v || 'Password is required',
                (v) => (v && v.length >= 8) || 'Password must be 8 characters',
              ]"
              required
            ></v-text-field>
          </v-form> </v-card-text
        ><v-card-actions class="justify-center">
          <v-btn color="success" @click="login()">Login</v-btn>
          <v-btn color="error" @click="clear()">Cancle</v-btn>
        </v-card-actions>
      </v-card>
    </v-main>
  </v-app>
</template>

<style scoped></style>
